body {
    text-align: center;
    background-color: #e4fbff;
}
h3 {
    padding-top: 50px;
}
textarea {
    font-family: 'Courier New', Courier, monospace;
    overflow-y: scroll;
    resize: vertical;
}

.width-100 {
    width: 100%;
}

#root {
    padding: 0 25%;
}

#back, #question-body {
    text-align: left;
}

.view-submission {
    text-align: left;
    white-space: pre-wrap;
}

.view-sub-button {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

.output-left {
    text-align: left;
    margin-bottom: 50px;
}
